.root {
  position: relative;
  left: -100px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 12px 20px;
  padding-left: 42px;
  width: 300px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  } 
}
.icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  left: 12px;
  top: 15px;
}

.clearSearch {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 12px;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

}